@font-face {
    font-family: Police titre;
    src: url("./Fonts/Inria_Serif/InriaSerif-Bold.ttf") format("truetype");
    src: url("./Fonts/Inria_Serif/InriaSerif-Regular.ttf") format("truetype");
    font-family: Police body;
    src: url("./Fonts/Oleo_Script/OleoScript-Regular.ttf") format("truetype");
    src:url("./Fonts/Oleo_Script/OleoScript-Bold.ttf") format("truetype");
    }
body {
    background-image: url("./images/peach-green-backdrop.jpg");
    background-size: cover;
    background-position: center;
    font-family: "OleoScript-Regular";
    width: 100%;
    max-width: 100%;
}
 /* Styles pour la modal */
        .modal {
            display: none; /* Masqué par défaut */
            position: fixed; /* Position fixe */
            z-index: 1; /* Au-dessus des autres éléments */
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto; /* Activer le défilement si nécessaire */
            background-color: rgba(0, 0, 0, 0.8); /* Fond noir avec opacité */
            transition: opacity 0.5s ease; /* Transition pour l'effet de fondu */
            opacity: 0; /* Initialement invisible */
        }

        .modal.show {
            display: block; /* Afficher la modal */
            opacity: 1; /* Opacité de 100% pour l'effet de fondu */
        }

        /* Contenu de la modal */
        .modal-content {
            margin: 15% auto;
            padding: 20px;
            width: 80%;
            max-width: 700px; /* Largeur maximale de la modal */
        }

        /* Image dans la modal */
        .modal-content img {
            width: 100%;
            height: auto;
        }

        /* Bouton pour fermer la modal */
        .close {
            color: white;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }
.titre {
text-align: center;
font-family: "Inria_Serif-Regular";
color: black;

}

.form-group {
    width: 350px;
    height: auto;
    text-align: center;
    
}
.button {
    width: 100px;
    text-align: center;
}
footer {
    padding: 20px 0;
    text-align: center;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}
